<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{Status}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="d-flex justify-content-center">
              </div>
                <div class="row">
                  <div class="col-md-12">

                    <h3>{{MessageUser}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">

                    <p>{{Result}}</p>
                  </div>
                </div>
            
                <hr>
              <div class="row d-flex justify-content-cente">

                <div class="col-md-4">
                  <div>Você jogou:</div>
                  {{NumbersUser}}
                </div>

                <div class="col-md-4">
                  <div>Resultado:</div>
                  {{NumbersResult}}
                </div>

                <div class="col-md-4">
                  <div>Acertou:</div>
                  {{NumbersHit}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
